html, body {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin:0;
	padding:0;
}

a {
	color: #c50;
}

.LR-bg-img {
	content:"";
	margin:0;
	padding:0;
	background-repeat:none;
	background-color: #222;
	background-size: cover;
	background-position: center top;
	-o-background-size: cover;
	-moz-background-size: cover;
	height: 100%;
	width:100%;
	background-attachment: scroll;
	position: absolute;
	z-index:0;
	top: 0;
	left:0;
	min-height: 100%;
}

.LR-bg-img-overlay {
	background: #c6b54e;
	margin:0;
	padding:0;
	height: 100%;
	width:100%;
	position: absolute;
	z-index:1;
	top: 0;
	left:0;
	opacity:0.70;
	filter: alpha(opacity=70);
	min-height: 100%;
}

.LR-content {
	color: #000;
	font-size:14px;
	font-weight: 300;
	position: absolute;
	z-index:1;
	min-height: 100%;
	width: 100%;
}

.LR-clearfix {
  *zoom: 1;
}

.LR-clearfix:before,
.LR-clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.LR-clearfix:after {
  clear: both;
}

.LR-box-wrapper {
		width:90%;
		max-width: 1024px;
    margin:0 auto;
		position: relative;
		z-index: 2;
}

.LR-box-container {
    width: 100%;		
    max-width: 700px;
    margin: 80px 0 50px;
}

.LR-site-tagline {
	margin: 0 0 20px;
	font-size: 70px;
	font-weight: 400;
	color: #fff;
}

.LR-site-tagline p {
	background-color:rgba(0,0,0,.8);
	padding: 5px 20px 0;
	line-height: 1.2em;
	color: #fff;
	display: inline-block;
	clear: both;
	float: left;
	margin: 10px 0 0;
}

.LR-site-description {
	font-weight:300;
	margin: 0;
	width: 100%;
	font-size: 20px;
	max-width: 380px;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}